@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.max-width {
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

.navbar {
    position: fixed;
    width: 100%;
    padding: 30px 0;
    background: black;
    font-family: 'Ubuntu', sans-serif;
}

.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a{
    color: lightgray;
    font-size: 35px;
    font-family: 'Ubuntu', sans-serif;
}

.navbar .menu li {
    list-style: none;
    display: inline-block;
}

.navbar .menu li a {
    color: lightgray;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}

.navbar .menu li a:hover {
    color: #7492b9;
}

.navbar span {
    color: #7492b9;
}

.menu-button {
    color: lightgray;
    font-size: 23px;
    cursor: pointer;
    display: none;
    transition: color 0.3s ease;
}

.menu-button:hover {
    color:#7492b9;
}

.about {
    padding-top: 200px;;
    background: url(../Images/Main-background-image.png);
    font-family: 'Poppins' sans-serif;
}

.about .title {
    font-family: 'Ubuntu' sans-serif;
    color: lightgray;
    text-align: center;
    font-size: 39px;
    font-weight: 600;
    margin-bottom: 60px;
    padding-bottom: 20px;
}
.title span {
    color: #7492b9;
}

.about .about-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.about .about-content .column-left{
    width: 45%;
}

.image1 {
    margin-top: 50px;
    width: 400px;
    height: 400px;
    border-radius: 20px;
    object-fit: cover;
}

.about .about-content .column-right{
    width: 45%;
}

.about .about-content .column-right .text1{
    padding-top: 10px;
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 10px;
    color: lightgray;
    align-items: center;
}

.about .about-content .column-right .text2{
    padding-top: 350px;
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 10px;
    color: lightgray;
}

.about .about-content .column-right .text3{
    padding-top: 375px; 
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 10px;
    color: lightgray;
}


.about .about-content .column-right p{
    color: lightgray;
    font-size: 15px;
}


footer {
    /* position: fixed; */
    bottom: 0px;
    width: 100%;
    padding: 10px;
    background: black;
}

footer li {
    list-style: none;
    display: inline-block;
}

footer li img {
    max-width: 50px;
    margin-left: 25px;
}

footer .icons {
    margin: auto;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
} 


